:root {
  font-size: 24px;

  --bgColor: hsl(0, 0%, 30%);
  --onBgColor: hsl(0, 0%, 100%);
  --navColor: hsl(44, 99%, 59%);
  --otherColor: hsl(215, 77%, 14%);

  --sizeSm: 1rem;
  --sizeMd: calc(var(--sizeSm) * 1.5);
  --sizeLg: calc(var(--sizeMd) * 1.5);
  --sizeXl: calc(var(--sizeLg) * 1.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: var(--bgColor);
  color: var(--onBgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vmax;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--navColor);
  color: var(--otherColor);
}

header img {
  max-height: 250px;
}

header nav ul li a:hover {
  background-color: var(--otherColor);
  color: var(--onBgColor);
}

h1 {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  padding: var(var(--sizeMd));
}

h1,
h2,
h3 {
  text-align: center;
  text-decoration: underline;
  color: var(--otherColor);
}

main img {
  max-height: 300px;
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--navColor);
  color: var(--otherColor);
}

Footer img {
  max-height: 250px;
}

footer nav ul li a:hover {
  background-color: var(--otherColor);
  color: var(--onBgColor);
}