:root {
  font-size: 24px;

  --bgColor: hsl(0, 0%, 30%);
  --onBgColor: hsl(0, 0%, 100%);
  --navColor: hsl(44, 99%, 59%);
  --otherColor: hsl(215, 77%, 14%);

  --sizeSm: 1rem;
  --sizeMd: calc(var(--sizeSm) * 1.5);
  --sizeLg: calc(var(--sizeMd) * 1.5);
  --sizeXl: calc(var(--sizeLg) * 1.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--onBgColor);
  background-color: var(--bgColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: var(--navColor);
  color: var(--otherColor);
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header h1 {
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

header nav ul li a {
  color: var(--otherColor);
  text-decoration: none;
  padding: var(--sizeSm);
}

header nav ul li a:hover {
  background-color: var(--otherColor);
  color: var(--onBgColor);
}